<mat-card *ngFor="let i of items" class="example-card">
    <mat-card-header class="card-header"><b>DetailId:</b> {{i.inventoryInDetailId}}</mat-card-header>
    <mat-card-content class="card-content">
        <p><b>Header:</b></p>
        <div> 
            <p><b>HeaderId:</b> {{i.inventoryInHeader.inventoryInHeaderId}}</p>
            <p><b>Branch:</b></p>
            <div>
                <p><b>BranchId:</b> {{i.inventoryInHeader.branch.branchId}}</p>
                <p><b>Name:</b> {{i.inventoryInHeader.branch.name}}</p>
            </div>
            <p><b>DocDate:</b> {{format(i.inventoryInHeader.docDate,'yyyy/MM/dd')}}</p>
            <p><b>Reference:</b> {{i.inventoryInHeader.reference}}</p>
            <p><b>TotalValue:</b> {{i.inventoryInHeader.totalValue}}<p>
            <p><b>Remarks:</b> {{i.inventoryInHeader.remarks}}</p>
        </div>
        <p><b>Serial:</b> {{i.serial}}</p>
        <p><b>Item:</b></p>
        <div>
            <p> <b>ItemId:</b> {{i.item.itemId}}</p>
            <p> <b>Name:</b> {{i.item.name}}</p>
        </div>
        <p><b>Package:</b></p>
        <div>
            <p> <b>PackageId:</b> {{i.package.packageId}}</p>
            <p> <b>Name:</b> {{i.package.packageId}}</p>
        </div>
        <p><b>BatchNumber:</b> {{i.batchNumber}}</p>
        <p><b>SerialNumber:</b> {{i.serialNumber}}</p>
        <p><b>ExpireDate:</b> {{format(i.expireDate,'yyyy/MM/dd')}}</p>
        <p><b>Quantity:</b> {{i.quantity}}</p>
        <p><b>ConsumerPrice:</b> {{i.consumerPrice}}</p>
        <p><b>TotalValue:</b> {{i.totalValue}}</p>
    </mat-card-content>
    <mat-card-actions class="action-region">
        <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
</mat-card>
<ng-template #elseBlock>
    <p>No items 😢</p>
</ng-template>

<button mat-mini-fab color="accent" class="add-button">
    <mat-icon>add</mat-icon>
</button>