<h2>Title: {{title}}</h2>
<ol *ngIf="items.length > 0; else elseBlock">
        <li *ngFor="let i of items">
            <p>DetailId: {{i.inventoryInDetailId}}</p>
            <p>Header:</p>
            <div> 
                <p>HeaderId: {{i.inventoryInHeader.inventoryInHeaderId}}</p>
                <p>Branch:</p>
                <div>
                    <p>BranchId: {{i.inventoryInHeader.branch.branchId}}</p>
                    <p>Name: {{i.inventoryInHeader.branch.name}}</p>
                </div>
                <p>DocDate: {{i.inventoryInHeader.docDate}}</p>
                <p>Reference: {{i.inventoryInHeader.reference}}</p>
                <p>TotalValue: {{i.inventoryInHeader.totalValue}}<p>
                <p>Remarks: {{i.inventoryInHeader.remarks}}</p>
            </div>
            <p>Serial: {{i.serial}}</p>
            <p>Item:</p>
            <div>
                <p> ItemId: {{i.item.itemId}}</p>
                <p> Name: {{i.item.name}}</p>
            </div>
            <p>Package:</p>
            <div>
                <p> PackageId: {{i.package.packageId}}</p>
                <p> Name: {{i.package.packageId}}</p>
            </div>
            <p>BatchNumber: {{i.batchNumber}}</p>
            <p>SerialNumber: {{i.serialNumber}}</p>
            <p>ExpireDate: {{i.expireDate}}</p>
            <p>Quantity: {{i.quantity}}</p>
            <p>ConsumerPrice: {{i.consumerPrice}}</p>
            <p>TotalValue: {{i.totalValue}}</p>
        </li>
</ol>
<ng-template #elseBlock>
    <p>No items 😢</p>
</ng-template>